* {
    box-sizing: border-box;
}

#button {
    text-align: center;
    margin-bottom: 16px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
}

.cell {
    outline: 1px solid black;
}

